.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
Asstes/NotoSansJP-Medium SDF
Assets/NotoSansJP-Medium SDF.asset
GameJam_2023_8/Assets/NotoSansJP-Medium SDF.asset
GameJam_2023_8/Assets/NotoSansJP-Medium SDF.asset.meta
